app-navbar {
  position: absolute;
  background-color: transparent;
  z-index: 999;
}

/*Section1*/
h1 {
  font-size: 26px;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

#searchbar:focus {
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

#myCarousel {
  width: 100%;
  margin: 0px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/*Section2*/

.container-section2 {
  width: 100%;
  float: left;
  background-color: #29292c;
  padding: 80px 120px;
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 20rem;
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

/*Section3*/
.container-section3 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../../../assets/images/section3bg3.png);
  background-size: cover;
  height: 100vh;
}

.header-insider {
  position: absolute;
  top: 170%;
  left: 70%;
}

