//Section1

<nav id="navbar">

  <div id="menu" class="menu">
    <a id="logo" href="/"><img src="assets/images/logo.png"></a>
    <ul>
      <li>
        <a id="sign-up-link" href="/signup"><span>Sign Up</span></a>
      </li>
      <li>
        <a id="login-link" href="/signin"><span>Sign In</span></a>
      </li>
    </ul>
  </div>
</nav>

<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <div id="hero-message">
    <h1>Let's Eat</h1>
    <h4>Discover home cooking in 150+ countries</h4>
  </div>

  <ol class="carousel-indicators">a
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/slide2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide3.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide4.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide5.png" alt="Third slide">
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left" href="#myCarousel"
     data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel"
     data-slide="next">&rsaquo;</a>
</div>

//Section2
<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="./assets/1.jpeg" alt="Card image cap" >
        <div class="card-block">
          <h6 class="card-title">Card title</h6>
          <p class="card-text">1</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/2.jpeg" alt="Card image cap">
        <div class="card-block">
          <h6 class="card-title">Card title</h6>
          <p class="card-text">2</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./assets/3.jpeg" alt="Card image cap">
        <div class="card-block">
          <h6 class="card-title">Card title</h6>
          <p class="card-text">3</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

//Section3 goes here

