<footer>
  <div class="container">
    <section>
      <header>Explore</header>
      <a href="/how_it_works">How it works</a>
      <a href="/why_host">Why Host?</a>
      <a href="/host/meals/new">Become a Host</a>
      <a href="/trust_and_safety">Trust &amp; Safety</a>
      <a href="https://mealsharing.zendesk.com/hc/en-us">Help Center</a>
    </section>
    <section>
      <header>Company</header>
      <a href="/about">About</a>
      <a href="/team">Team</a>
      <a href="/press">Press</a>
      <a href="/contact">Contact</a>
      <a href="http://viva.mealsharing.com/">Blog</a>
      <a href="/terms_of_use">Terms &amp; Privacy</a>
    </section>
    <section>
      <header>Follow Us</header>
      <a href="https://www.facebook.com/MealSharing" class="social-link"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://twitter.com/mealsharing" class="social-link"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://www.instagram.com/mealsharing/" class="social-link"><i class="fa fa-instagram fa-lg"></i></a>

      <a id="heap-analytics-badge" href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics"></a>
    </section>
  </div>
</footer>



