

footer #heap-analytics-badge {
  margin-top:0.5em
}

footer {
  font-size:10px;
  display:block;
  border-top-style:solid;
  border-top-color:#f0f0f0;
  border-top-width:1px;
  margin-top:20em;
  margin-bottom:10em;
  padding:5em;
  color:#a5a5a5
}
@media screen and (max-width: 650px) {
  body>footer {
    font-size:5px
  }
}
footer:after {
  content:"";
  display:table;
  clear:both
}
@media screen and (max-width: 650px) {
  body>footer {
    padding-bottom:0
  }
}
footer a {
  color:#a5a5a5
}
footer>.container {
  max-width:1050px;
  margin-left:auto;
  margin-right:auto
}
footer>.container>section {
  text-align:left;
  float:left;
  display:block;
  margin-right:2.35765%;
  width:31.76157%
}
footer>.container>section:last-child {
  margin-right:0
}
@media screen and (max-width: 650px) {
  body>footer>.container>section {
    float:left;
    display:block;
    margin-right:2.35765%;
    width:48.82117%;
    margin-bottom:5em
  }
  footer>.container>section:last-child {
    margin-right:0
  }
}
footer>.container>section>header {
  font-family:'Montserrat','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;
  font-weight:400;
  font-size:14px;
  margin-bottom:1em
}
@media screen and (max-width: 650px) {
  body>footer>.container>section>header {
    font-size:12px
  }
}
footer>.container>section>a {
  font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;
  font-weight:200;
  font-size:12px;
  line-height:1.5em;
  display:block
}
@media screen and (max-width: 650px) {
  body>footer>.container>section>a {
    font-size:10px
  }
}
@media screen and (max-width: 650px) {
  body>footer #logo-container {
    display:none
  }
}
footer #logo-container>img {
  height:5em;
  width:5em
}
footer .social-link {
  margin-right:0.5em;
  display:inline-block!important;
  margin-bottom:0.5em
}
footer select {
  min-width:9.9em
}
footer #heap-analytics-badge {
  margin-top:0.5em
}
/*body {*/
  /*background-color:#fafafa*/
/*}*/
a {
  font-size:14px;
  color:#44c0e5;
  text-decoration:none
}
@media screen and (max-width: 650px) {
  a {
    font-size:10px
  }
}
/*a>span {*/
  /*font-size:14px*/
/*}*/
@media screen and (max-width: 650px) {
  a>span {
    font-size:10px
  }
}
a:hover {
  cursor:pointer
}
