<div class="b">
  <div >
    <div>
      <img  class="main-img" src="../../../assets/aboutus/aboutus.jpg">
      <!--<span style="position: absolute; top: 30%; left: 30%;">It is inspiration of all</span>-->
    </div>
    <div class="container">

      <div class="row">
        <div class="col-4">
          <img alt="About_one_pon" class="right" src="../../../assets/aboutus/15168779_10154657236764277_1194117784236694479_o.0.0.jpg">
        </div>
        <div class="col-8">
          <h2 class="content-txt-title">OUR START</h2>
          <p class="para sub-text">The founder, Jay, had a meal with Mr. Pon and his family on a small farm an hour outside of Siem Reap, Cambodia. New foods, Pol Pot discussions, and and even a keyboard jam played by Mr. Pon made the night magical. Here are the photos of the first mealshare.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <h2 class="content-txt-title">INSPIRATION</h2>
          <p class="para sub-text">Meal Sharing brings people together over home cooked meals. Our mission is to build communities through shared resources, facilitate deeper cultural exchange, and encourage people to cook at home to enable a healthier lifestyle.</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/aboutus/Cornmeal-Waffle-Slider-Sandwiches_EXPS_THAM17_12338_B11_15_2b.jpg">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <img alt="About_one_pon" class="right" src="../../../assets/aboutus/exps51611_TH143192D02_12_3b_WEB.jpg">
        </div>
        <div class="col-8">
          <h2 class="content-txt-title">OUR MISSION</h2>
          <p class="para sub-text">We want to create a world where you can point to anywhere on the map and be welcome to a home cooked meal. We want to make it possible for people, who otherwise would probably never meet, to get together and have a good time over food.</p>
        </div>
      </div>
    </div>
  </div>
</div>
